.container{
    justify-content: flex-start;
    position: relative;
}
.navbar{
    background-color: aqua;
    color: greenyellow;
    padding: 10px 20px;
    display: flex;

}
.nav-links{
    justify-content: center;
    font-size: large;
    font-weight: 100;
}