.pic{
    border-style: groove;
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px;
    gap: 10%;
    margin-left: 50%;
    margin-top: 2%;
}
.container{
    

    
}
.h1{
    text-align: center;
    color: green;
    font-size: 24px;
    margin-top: auto;
    font-weight: bold;
    margin-right: 40%;
    margin-bottom: 2%;
    float: unset;
    position: static;



}


