.pic {
    border-style: groove;
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
    margin-left: 50%; /* Keeps the image on the right */
    margin-top: 2%;
    float: right; /* Aligns the image to the right */
}

.text-container {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* setting in rows  */
    justify-content: contents; /* Align text to the left of the container */
    align-items: flex-start; /* Vertically center-align the text with the image */
    gap: 2%; /* Space between the text and image */
    margin-top: 2%; /* Adjust spacing between the container and the top */
    
}

.h1 {
    color: green;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40%;/* Remove unnecessary margins */
    text-align: center; /* Align text to the left */
}



